**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/charts
.dotnet
.npm
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
**/.toolstarget
README.md
